@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
  <h4 class="mb-0">Sistemas FIAD</h4>
  <hr />
  <div class="row">
    <!-- Control Curriculum Vite -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="imagenes/CV.png" class="card-img-top h-75" alt="Curriculum Vite">
        <div class="card-body text-center">
          <NavLink href="CV/Docentes" class="btn btn-success w-100">
            <i class="fas fa-user-graduate me-2"></i>Curriculum Vite
          </NavLink>
        </div>
      </div>
    </div>
    
    <!-- Control Escolar -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="imagenes/PlanesEstudio.jpg" class="card-img-top h-75" alt="Control escolar">
        <div class="card-body text-center">
          <NavLink href="ControlEscolar" class="btn btn-success w-100">
            <i class="fas fa-school me-2"></i>Control escolar
          </NavLink>
        </div>
      </div>
    </div>

    <!-- Gestión de salidas -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="imagenes/GestionSalidas.jpg" class="card-img-top h-75" alt="Gestion Salidas">
        <div class="card-body text-center">
          <NavLink href="ControlEscolar" class="btn btn-success w-100">
            <i class="fas fa-sign-out-alt me-2"></i>Gestion Salidas
          </NavLink>
        </div>
      </div>
    </div>
    <!-- Gestión de periodos -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="imagenes/HU.png" class="card-img-top  h-75" alt="Hora Universitaria">
        <div class="card-body text-center">
          <NavLink href="HoraUniversitaria" class="btn btn-success w-100">
            <i class="fas fa-clock me-2"></i>Hora Universitaria
          </NavLink>
        </div>
      </div>
    </div>
    
  </div>
  <div class="row">
    <!-- Gestión de periodos -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="imagenes/VimaTube.png" class="card-img-top  h-75" alt="Cima Tube">
        <div class="card-body text-center">
          <NavLink href="CimaTube" class="btn btn-success w-100">
            <i class="fab fa-youtube me-2"></i>Cima Tube
          </NavLink>
        </div>
      </div>
    </div>
    <!-- Gestión de periodos -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="imagenes/Periodos.jpg" class="card-img-top  h-75" alt="Periodos">
        <div class="card-body text-center">
          <NavLink href="Periodos" class="btn btn-success w-100">
            <i class="fas fa-calendar-alt me-2"></i>Periodos
          </NavLink>
        </div>
      </div>
    </div>
    <!-- Gestión de Usuarios -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="imagenes/gestionusuario.jpg" class="card-img-top h-75" alt="Gestión de Usuarios">
        <div class="card-body text-center">
          <NavLink href="GestionUsuarios" class="btn btn-success w-100">
            <i class="fas fa-users me-2"></i>Gestión de Usuarios
          </NavLink>
        </div>
      </div>
    </div>

  </div>
</div>