<div class="row top-row bg-verde-primario">
  <div class="col-md-2" style="text-align: center;">
    <img src="/imagenes/logo_uabc.gif" class="mt-2" style="width:50px; height:75px;" />
  </div>
  <div class="col-md-8 align-content-center">
    <h5 class="text-center text-white">Universidad Autónoma de Baja California</h5>
    <h6 class="text-center text-white">Facultad de Ingeniería Arqitectura y Diseño</h6>
  </div>
  <div class="col-md-2" style="text-align: center;">
    <img src="/imagenes/logo_fiad.png" class="mt-1" style="width:50px; height:75px;" />
  </div>
</div>

<div class="row justify-content-end bg-verde-primario p-0 m-0">
  <div class="col-auto me-3 text-white">    
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">      
      <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
    </NavLink>
  </div>
</div>
