
<div class="position-relative w-100" style="left: 0; right: 0; margin-left: -12px; margin-right: -12px;">
  <img src="/imagenes/bannerplanesdeestudio.png"
       class="d-block w-100"
       style="height: 150px; object-fit: cover;"
       alt="Banner de planes de estudio" />
</div>
@code {

}
