@page "/GestionUsuarios"
<div class="container">
  <h4 class="mb-0 d-flex align-items-center gap-2">
    <a href="https://localhost:7205/" class="text-decoration-none text-success"><i class="bi bi-arrow-left-circle-fill"></i></a>
    Gestión de usuarios
  </h4>
  <hr />
  <div class="row mt-5">
    <!-- Gestión de Usuarios -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100 shadow-sm">
        <!-- Reemplaza con tu imagen -->
        <img src="imagenes/NuevoUsuario.jpg" class="card-img-top h-75" alt="Nuevo usuario">
        <div class="card-body text-center">
          <NavLink href="/Account/Register" class="btn btn-success w-100">
            <i class="bi bi-people-fill me-2"></i>Registrar usuario
          </NavLink>
        </div>
      </div>
    </div>

    <!-- Control Escolar -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="imagenes/RecuperaPassword.jpg" class="card-img-top h-75" alt="recupera password">
        <div class="card-body text-center">
          <NavLink href="Account/ForgotPassword" class="btn btn-success w-100">
            <i class="bi bi-journal-bookmark-fill me-2"></i>Recupera contraseña          </NavLink>
        </div>
      </div>
    </div>

    <!-- Gestión usuario -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="imagenes/ResetPassword.jpg" class="card-img-top h-75" alt="Restablecer password">
        <div class="card-body text-center">
          <NavLink href="Account/ResetPassword" class="btn btn-success w-100">
            <i class="bi bi-journal-bookmark-fill me-2"></i>Restablecer contraseña
          </NavLink>
        </div>
      </div>
    </div>

    <!-- Gestión usuario -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="imagenes/Periodos.jpg" class="card-img-top  h-75" alt="Periodos">
        <div class="card-body text-center">
          <NavLink href="ControlEscolar" class="btn btn-success w-100">
            <i class="bi bi-journal-bookmark-fill me-2"></i>Periodos
          </NavLink>
        </div>
      </div>
    </div>

  </div>
</div>

@code {

}
