@inherits LayoutComponentBase

<PageTitle>Error</PageTitle>

<div class="page">
	<main>
		<div class="row">
			<div class="col-12">
				<h1 class="text-danger">Ho no, Error: 404</h1>
				<div class="alert alert-danger" role="alert">
					Error: Lapágina solicitada no se encuentra.
				</div>
			</div>
		</div>
	</main>
</div>
