@page "/AgregarUnidadesMateria/{IdMateria:int}"

<div class="container">

  <h4 class="mb-0 d-flex align-items-center gap-2">
    <a href="https://localhost:7205/ListarMaterias" class="text-decoration-none text-success"><i class="bi bi-arrow-left-circle-fill"></i></a>
    Gestión de materias
  </h4>
  <hr />


  <h3>Agregar unidades a la materia: @IdMateria</h3>

  Los datos necesarios son:<br /><br />
  <p>- IdMateriaUnidad PK AU</p>
  <p>- IdMateria FK</p>
  <p>- Número de la unidad</p>
  <p>- Horas de duración</p>
  <p>- Nombre de la unidad</p>
  <p>- Competencia de la unidad</p>
</div>

